#wb_header { background: transparent none no-repeat scroll center bottom; height: 294px; }
#wb_header { height: 294px; }
#wb_main { background: #ffffff none repeat-x scroll left top; height: 772px; padding: 0 0 70px 0; }
#wb_main { height: 1830px; }
#wb_footer { background: transparent none repeat-x scroll center bottom; height: 70px; }
#wb_footer { height: 70px; }
body { background: #ffffff url("../img/bg.jpg") no-repeat scroll center top; }
.wb_sbg { background: transparent none repeat-x scroll center bottom; }
body, .wb_sbg { min-width: 320px; min-height: 2194px; }
.root { width: 320px; height: 2194px; overflow: hidden; }
#wb_element_instance31 { left: 0px; top: 20px; min-width: 320px; width: 320px; min-height: 30px; height: 30px; display: block; z-index: 206; }
#wb_element_instance31 ul { background: #4506c2 none repeat scroll left top; }
#wb_element_instance31 .btn-collapser { display: inline-block; }
#wb_element_instance31 > ul { display: none; }
#wb_element_instance31.collapse-expanded > ul { display: block; float: none; height: auto; }
#wb_element_instance31.collapse-expanded > ul > li { display: block; }
#wb_element_instance31.collapse-expanded > ul > li > ul { position: static; }
#wb_element_instance31.collapse-expanded > ul > li:hover > ul { display: none; }
#wb_element_instance31 ul { border: 1px none #000000; }
#wb_element_instance31, #wb_element_instance31 ul { text-align: center; }
#wb_element_instance31 ul ul { background: #ffffff none no-repeat scroll left top; }
#wb_element_instance31 li { margin: 10px 10px 10px 10px; }
#wb_element_instance31 li a { text-transform: none; border: 0px none #000000; padding: 10px 20px 10px 20px; font: normal bold 18px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffffff; line-height: 20px; background: transparent none repeat scroll left top; }
#wb_element_instance31 li:hover > a, #wb_element_instance31 li:focus > a { border: 0px none #000000; font: normal bold 18px Arial,Helvetica,sans-serif; text-decoration: none; color: #696969; line-height: 20px; background: #ffffff none repeat-x scroll left top; }
#wb_element_instance31 li.active > a { border: 0px none #000000; font: normal bold 18px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffffff; line-height: 20px; background: #006aff none repeat scroll left top; }
#wb_element_instance32 { left: 80px; top: 130px; min-width: 240px; width: 240px; min-height: 62px; height: 62px; display: block; z-index: 197; }
#wb_element_instance33 { left: 0px; top: 0px; min-width: 320px; width: 320px; min-height: 24px; height: 24px; display: none; z-index: 182; }
#wb_element_instance34 { left: 0px; top: 130px; min-width: 70px; width: 70px; min-height: 60px; height: 60px; display: block; z-index: 205; }
#wb_element_instance34 img { width: 70px; height: 60px; position: static; left: 0px; top: 0px; }
#wb_element_instance35 { left: 0px; top: 0px; min-width: 320px; width: 320px; min-height: 40px; height: 40px; display: none; z-index: 163; }
#wb_element_instance35 > div { width: 320px; height: 40px; background: #b0b0b0; border: 0px solid #C0C0C0; opacity: 0.4; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance36 { left: 90px; top: 0px; min-width: 230px; width: 230px; min-height: 24px; height: 24px; display: block; z-index: 196; }
#wb_element_instance37 { left: 0px; top: 40px; min-width: 100px; width: 100px; min-height: 24px; height: 24px; display: block; z-index: 211; }
#wb_element_instance38 { left: 30px; top: 90px; min-width: 250px; width: 250px; min-height: 530px; height: 530px; display: block; z-index: 82; }
#wb_element_instance39 { left: 30px; top: 660px; min-width: 250px; width: 250px; min-height: 530px; height: 530px; display: block; z-index: 84; }
#wb_element_instance40 { left: 30px; top: 1230px; min-width: 250px; width: 250px; min-height: 530px; height: 530px; display: block; z-index: 85; }
#wb_element_instance41 { left: 30px; top: 30px; min-width: 290px; width: 290px; min-height: 42px; height: 42px; display: block; z-index: 49; }
#wb_element_instance42 { left: 0px; top: 792px; display: block; z-index: 9000; }
#wb_element_instance43 { left: 0px; top: 74px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 294px; }
	#wb_main { height: 842px; }
	#wb_footer { height: 70px; }
	body, .wb_sbg { min-width: 768px; min-height: 1206px; }
	.root { width: 768px; height: 1206px; overflow: visible; }
	#wb_element_instance31 { left: 0px; top: 200px; min-width: 760px; width: 760px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance31 ul { background: transparent none no-repeat scroll left top; }
	#wb_element_instance31 .btn-collapser { display: none; }
	#wb_element_instance31 > ul { display: block; }
	#wb_element_instance32 { left: 130px; top: 30px; min-width: 630px; width: 630px; min-height: 41px; height: 41px; display: block; }
	#wb_element_instance33 { left: 130px; top: 100px; min-width: 630px; width: 630px; min-height: 83px; height: 83px; display: block; }
	#wb_element_instance34 { left: 0px; top: 30px; min-width: 90px; width: 90px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance34 img { width: 90px; height: 80px; position: static; left: 0px; top: 0px; }
	#wb_element_instance35 { left: 0px; top: 200px; min-width: 760px; width: 760px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance35 > div { width: 760px; height: 60px; }
	#wb_element_instance36 { left: 530px; top: 30px; min-width: 230px; width: 230px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance37 { left: 80px; top: 30px; min-width: 100px; width: 100px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance38 { left: 40px; top: 100px; min-width: 212px; width: 212px; min-height: 672px; height: 672px; display: block; }
	#wb_element_instance39 { left: 280px; top: 100px; min-width: 212px; width: 212px; min-height: 672px; height: 672px; display: block; }
	#wb_element_instance40 { left: 530px; top: 100px; min-width: 212px; width: 212px; min-height: 672px; height: 672px; display: block; }
	#wb_element_instance41 { left: 40px; top: 40px; min-width: 720px; width: 720px; min-height: 44px; height: 44px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 294px; }
	#wb_main { height: 842px; }
	#wb_footer { height: 70px; }
	body, .wb_sbg { min-width: 992px; min-height: 1206px; }
	.root { width: 992px; height: 1206px; overflow: visible; }
	#wb_element_instance31 { left: 0px; top: 200px; min-width: 990px; width: 990px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance31 ul { background: transparent none no-repeat scroll left top; }
	#wb_element_instance31 .btn-collapser { display: none; }
	#wb_element_instance31 > ul { display: block; }
	#wb_element_instance32 { left: 150px; top: 30px; min-width: 840px; width: 840px; min-height: 51px; height: 51px; display: block; }
	#wb_element_instance33 { left: 150px; top: 110px; min-width: 840px; width: 840px; min-height: 56px; height: 56px; display: block; }
	#wb_element_instance34 { left: 0px; top: 30px; min-width: 90px; width: 90px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance34 img { width: 90px; height: 80px; position: static; left: 0px; top: 0px; }
	#wb_element_instance35 { left: 0px; top: 200px; min-width: 990px; width: 990px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance35 > div { width: 990px; height: 60px; }
	#wb_element_instance36 { left: 760px; top: 30px; min-width: 230px; width: 230px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance37 { left: 0px; top: 30px; min-width: 100px; width: 100px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance38 { left: 40px; top: 100px; min-width: 212px; width: 212px; min-height: 672px; height: 672px; display: block; }
	#wb_element_instance39 { left: 370px; top: 100px; min-width: 210px; width: 210px; min-height: 672px; height: 672px; display: block; }
	#wb_element_instance40 { left: 680px; top: 100px; min-width: 212px; width: 212px; min-height: 672px; height: 672px; display: block; }
	#wb_element_instance41 { left: 40px; top: 40px; min-width: 933px; width: 933px; min-height: 51px; height: 51px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 294px; }
	#wb_main { height: 700px; }
	#wb_footer { height: 70px; }
	body, .wb_sbg { min-width: 1200px; min-height: 1064px; }
	.root { width: 1200px; height: 1064px; overflow: visible; }
	#wb_element_instance31 { left: 0px; top: 200px; min-width: 1200px; width: 1200px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance31 ul { background: transparent none no-repeat scroll left top; }
	#wb_element_instance31 .btn-collapser { display: none; }
	#wb_element_instance31 > ul { display: block; }
	#wb_element_instance32 { left: 200px; top: 30px; min-width: 1000px; width: 1000px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance33 { left: 200px; top: 110px; min-width: 1000px; width: 1000px; min-height: 56px; height: 56px; display: block; }
	#wb_element_instance34 { left: 0px; top: 30px; min-width: 124px; width: 124px; min-height: 99px; height: 99px; display: block; }
	#wb_element_instance34 img { width: 124px; height: 99px; position: static; left: 0px; top: 0px; }
	#wb_element_instance35 { left: 0px; top: 200px; min-width: 1200px; width: 1200px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance35 > div { width: 1200px; height: 60px; }
	#wb_element_instance36 { left: 960px; top: 30px; min-width: 234px; width: 234px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance37 { left: 0px; top: 30px; min-width: 113px; width: 113px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance38 { left: 40px; top: 100px; min-width: 320px; width: 320px; min-height: 530px; height: 530px; display: block; }
	#wb_element_instance39 { left: 450px; top: 100px; min-width: 320px; width: 320px; min-height: 530px; height: 530px; display: block; }
	#wb_element_instance40 { left: 860px; top: 100px; min-width: 280px; width: 280px; min-height: 530px; height: 530px; display: block; }
	#wb_element_instance41 { left: 40px; top: 40px; min-width: 933px; width: 933px; min-height: 55px; height: 55px; display: block; }
}
