#wb_header { background: transparent none no-repeat scroll center bottom; height: 294px; }
#wb_header { height: 294px; }
#wb_main { background: transparent none repeat-x scroll center bottom; height: 1387px; padding: 0 0 70px 0; }
#wb_main { height: 1420px; }
#wb_footer { background: transparent none repeat-x scroll center top; height: 70px; }
#wb_footer { height: 70px; }
body { background: transparent url("../gallery_gen/985b3d30a505cb4dfe8a363f7e6915f0.jpg") no-repeat scroll center top; }
.wb_sbg { background: transparent none repeat-x scroll center bottom; }
body, .wb_sbg { min-width: 320px; min-height: 1784px; }
.root { width: 320px; height: 1784px; overflow: hidden; }
#wb_element_instance0 { left: 0px; top: 20px; min-width: 320px; width: 320px; min-height: 30px; height: 30px; display: block; z-index: 206; }
#wb_element_instance0 ul { background: #4506c2 none repeat scroll left top; }
#wb_element_instance0 .btn-collapser { display: inline-block; }
#wb_element_instance0 > ul { display: none; }
#wb_element_instance0.collapse-expanded > ul { display: block; float: none; height: auto; }
#wb_element_instance0.collapse-expanded > ul > li { display: block; }
#wb_element_instance0.collapse-expanded > ul > li > ul { position: static; }
#wb_element_instance0.collapse-expanded > ul > li:hover > ul { display: none; }
#wb_element_instance0 ul { border: 1px none #000000; }
#wb_element_instance0, #wb_element_instance0 ul { text-align: center; }
#wb_element_instance0 ul ul { background: #ffffff none no-repeat scroll left top; }
#wb_element_instance0 li { margin: 10px 10px 10px 10px; }
#wb_element_instance0 li a { text-transform: none; border: 0px none #000000; padding: 10px 20px 10px 20px; font: normal bold 18px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffffff; line-height: 20px; background: transparent none repeat scroll left top; }
#wb_element_instance0 li:hover > a, #wb_element_instance0 li:focus > a { border: 0px none #000000; font: normal bold 18px Arial,Helvetica,sans-serif; text-decoration: none; color: #696969; line-height: 20px; background: #ffffff none repeat-x scroll left top; }
#wb_element_instance0 li.active > a { border: 0px none #000000; font: normal bold 18px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffffff; line-height: 20px; background: #006aff none repeat scroll left top; }
#wb_element_instance1 { left: 80px; top: 130px; min-width: 240px; width: 240px; min-height: 62px; height: 62px; display: block; z-index: 197; }
#wb_element_instance2 { left: 0px; top: 0px; min-width: 320px; width: 320px; min-height: 24px; height: 24px; display: none; z-index: 182; }
#wb_element_instance3 { left: 0px; top: 130px; min-width: 70px; width: 70px; min-height: 60px; height: 60px; display: block; z-index: 205; }
#wb_element_instance3 img { width: 70px; height: 60px; position: static; left: 0px; top: 0px; }
#wb_element_instance4 { left: 0px; top: 0px; min-width: 320px; width: 320px; min-height: 40px; height: 40px; display: none; z-index: 163; }
#wb_element_instance4 > div { width: 320px; height: 40px; background: #b0b0b0; border: 0px solid #C0C0C0; opacity: 0.4; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance5 { left: 30px; top: 30px; min-width: 260px; width: 260px; min-height: 496px; height: 496px; display: block; z-index: 111; }
#wb_element_instance6 { left: 0px; top: 0px; min-width: 120px; width: 120px; min-height: 120px; height: 120px; display: none; z-index: 112; }
#wb_element_instance6 img { width: 120px; height: 120px; position: static; left: 0px; top: 0px; }
#wb_element_instance7 { left: 0px; top: 0px; min-width: 120px; width: 120px; min-height: 120px; height: 120px; display: none; z-index: 113; }
#wb_element_instance7 img { width: 120px; height: 120px; position: static; left: 0px; top: 0px; }
#wb_element_instance8 { left: 30px; top: 690px; min-width: 270px; width: 270px; min-height: 222px; height: 222px; display: block; z-index: 124; }
#wb_element_instance9 { left: 90px; top: 0px; min-width: 230px; width: 230px; min-height: 24px; height: 24px; display: block; z-index: 196; }
#wb_element_instance10 { left: 0px; top: 40px; min-width: 100px; width: 100px; min-height: 24px; height: 24px; display: block; z-index: 211; }
#wb_element_instance11 { left: 0px; top: 0px; min-width: 100px; width: 100px; min-height: 100px; height: 100px; display: none; z-index: 114; }
#wb_element_instance11 img { width: 100px; height: 100px; position: static; left: 0px; top: 0px; }
/*Serhii top:640 do not change*/#wb_element_instance12 { left: 30px; top: 640px; min-width: 103px; width: 103px; min-height: 26px; height: 26px; display: block; z-index: 115; }
#wb_element_instance13 { left: 0px; top: 0px; min-width: 320px; width: 320px; min-height: 740px; height: 740px; display: block; z-index: 110; }
#wb_element_instance13 > div { width: 320px; height: 740px; background: #ffffff; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance14 { left: 10px; top: 1100px; min-width: 310px; width: 310px; min-height: 250px; height: 250px; display: block; z-index: 125; }
#wb_element_instance15 { left: 30px; top: 690px; min-width: 270px; width: 270px; min-height: 222px; height: 222px; display: block; z-index: 127; }
#wb_element_instance16 { left: 0px; top: 1407px; display: block; z-index: 9000; }
#wb_element_instance17 { left: 0px; top: 74px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 294px; }
	#wb_main { height: 810px; }
	#wb_footer { height: 70px; }
	body, .wb_sbg { min-width: 768px; min-height: 1174px; }
	.root { width: 768px; height: 1174px; overflow: visible; }
	#wb_element_instance0 { left: 0px; top: 200px; min-width: 760px; width: 760px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance0 ul { background: transparent none no-repeat scroll left top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_element_instance1 { left: 130px; top: 30px; min-width: 630px; width: 630px; min-height: 41px; height: 41px; display: block; }
	#wb_element_instance2 { left: 130px; top: 100px; min-width: 630px; width: 630px; min-height: 83px; height: 83px; display: block; }
	#wb_element_instance3 { left: 0px; top: 30px; min-width: 90px; width: 90px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance3 img { width: 90px; height: 80px; position: static; left: 0px; top: 0px; }
	#wb_element_instance4 { left: 0px; top: 200px; min-width: 760px; width: 760px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance4 > div { width: 760px; height: 60px; }
	#wb_element_instance5 { left: 40px; top: 40px; min-width: 280px; width: 280px; min-height: 496px; height: 496px; display: block; }
	#wb_element_instance6 { left: 0px; top: 0px; min-width: 120px; width: 120px; min-height: 120px; height: 120px; display: none; }
	#wb_element_instance6 img { width: 120px; height: 120px; position: static; left: 0px; top: 0px; }
	#wb_element_instance7 { left: 0px; top: 0px; min-width: 120px; width: 120px; min-height: 120px; height: 120px; display: none; }
	#wb_element_instance7 img { width: 120px; height: 120px; position: static; left: 0px; top: 0px; }
	#wb_element_instance8 { left: 340px; top: 80px; min-width: 410px; width: 410px; min-height: 167px; height: 167px; display: block; }
	#wb_element_instance9 { left: 530px; top: 30px; min-width: 230px; width: 230px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance10 { left: 80px; top: 30px; min-width: 100px; width: 100px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance11 { left: 0px; top: 0px; min-width: 100px; width: 100px; min-height: 100px; height: 100px; display: none; }
	#wb_element_instance11 img { width: 100px; height: 100px; position: static; left: 0px; top: 0px; }
	#wb_element_instance12 { left: 340px; top: 40px; min-width: 103px; width: 103px; min-height: 26px; height: 26px; display: block; }
	#wb_element_instance13 { left: 0px; top: 0px; min-width: 760px; width: 760px; min-height: 740px; height: 740px; display: block; }
	#wb_element_instance13 > div { width: 760px; height: 740px; }
	#wb_element_instance14 { left: 340px; top: 500px; min-width: 410px; width: 410px; min-height: 194px; height: 194px; display: block; }
	#wb_element_instance15 { left: 340px; top: 290px; min-width: 410px; width: 410px; min-height: 167px; height: 167px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 294px; }
	/*Serhii: смещаем футер вверх*/#wb_main { height: 810px; }
	#wb_footer { height: 70px; }
	/*изменяем размер высоты боди, чтобы не прокручивался дальше сайт для body, wb_sbg*/
	body, .wb_sbg { min-width: 992px; min-height: 800px; }
	.root { width: 992px; height: 800px; overflow: visible; }	
	#wb_element_instance0 { left: 0px; top: 200px; min-width: 990px; width: 990px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance0 ul { background: transparent none no-repeat scroll left top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_element_instance1 { left: 150px; top: 30px; min-width: 840px; width: 840px; min-height: 51px; height: 51px; display: block; }
	#wb_element_instance2 { left: 150px; top: 110px; min-width: 840px; width: 840px; min-height: 56px; height: 56px; display: block; }
	#wb_element_instance3 { left: 0px; top: 30px; min-width: 90px; width: 90px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance3 img { width: 90px; height: 80px; position: static; left: 0px; top: 0px; }
	#wb_element_instance4 { left: 0px; top: 200px; min-width: 990px; width: 990px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance4 > div { width: 990px; height: 60px; }
	/*Serhii top:610*/#wb_element_instance5 { left: 50px; top: 40px; min-width: 314px; width: 314px; min-height: 502px; height: 502px; display: block; }
	/*Serhii top:680,(6,8)*/#wb_element_instance6 { left: 420px; top: 105px; min-width: 120px; width: 120px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance6 img { width: 120px; height: 120px; position: static; left: 0px; top: 0px; }
	/*Serhii top:940, (7,14) 105+260=345*/#wb_element_instance7 { left: 420px; top: 345px; min-width: 120px; width: 120px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance7 img { width: 120px; height: 120px; position: static; left: 0px; top: 0px; }
	/*Serhii top:680,(6,8)*/#wb_element_instance8 { left: 560px; top: 105px; min-width: 430px; width: 430px; min-height: 167px; height: 167px; display: block; }
	#wb_element_instance9 { left: 760px; top: 30px; min-width: 230px; width: 230px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance10 { left: 0px; top: 30px; min-width: 100px; width: 100px; min-height: 24px; height: 24px; display: block; }
	/*Serhii:(11,15)*/#wb_element_instance11 { left: 430px; top: 580px; min-width: 106px; width: 106px; min-height: 106px; height: 106px; display: block; }
	#wb_element_instance11 img { width: 106px; height: 106px; position: static; left: 0px; top: 0px; }
	/*Serhii top:610*/#wb_element_instance12 { left: 420px; top: 40px; min-width: 103px; width: 103px; min-height: 32px; height: 32px; display: block; }	
	/*Serhii: изменяем размер высоты боди, чтобы не прокручивался дальше сайт для wb_element_instance13*/
	#wb_element_instance13 { left: 0px; top: 0px; min-width: 760px; width: 760px; min-height: 740px; height: 740px; display: block; }
	#wb_element_instance13 > div { width: 760px; height: 740px; }
	
	/*Serhii top:610, (7,14)*/#wb_element_instance14 { left: 560px; top: 345px; min-width: 430px; width: 430px; min-height: 167px; height: 167px; display: block; }
	/*Serhii:(11,15)*/#wb_element_instance15 { left: 560px; top: 580px; min-width: 430px; width: 430px; min-height: 167px; height: 167px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 294px; }
	/*Serhii: смещаем футер вверх*/#wb_main { height: 810px; }
	#wb_footer { height: 70px; }
	/*изменяем размер высоты боди, чтобы не прокручивался дальше сайт для body, wb_sbg*/
	body, .wb_sbg { min-width: 1200px; min-height: 1174px; }
	.root { width: 1200px; height: 1174px; overflow: visible; }	
	#wb_element_instance0 { left: 0px; top: 200px; min-width: 1200px; width: 1200px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance0 ul { background: transparent none no-repeat scroll left top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_element_instance1 { left: 200px; top: 30px; min-width: 1000px; width: 1000px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance2 { left: 200px; top: 110px; min-width: 1000px; width: 1000px; min-height: 56px; height: 56px; display: block; }
	#wb_element_instance3 { left: 0px; top: 30px; min-width: 124px; width: 124px; min-height: 99px; height: 99px; display: block; }
	#wb_element_instance3 img { width: 124px; height: 99px; position: static; left: 0px; top: 0px; }
	#wb_element_instance4 { left: 0px; top: 200px; min-width: 1200px; width: 1200px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance4 > div { width: 1200px; height: 60px; }
	/*Serhii top:610*/#wb_element_instance5 { left: 60px; top: 40px; min-width: 314px; width: 314px; min-height: 509px; height: 509px; display: block; }
	/*Serhii top:680*/#wb_element_instance6 { left: 460px; top: 105px; min-width: 120px; width: 120px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance6 img { width: 120px; height: 120px; position: static; left: 0px; top: 0px; }
	/*Serhii top:940, +235*/#wb_element_instance7 { left: 460px; top: 340px; min-width: 120px; width: 120px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance7 img { width: 120px; height: 120px; position: static; left: 0px; top: 0px; }
	/*Serhii top:680*/#wb_element_instance8 { left: 620px; top: 105px; min-width: 550px; width: 550px; min-height: 139px; height: 139px; display: block; }
	#wb_element_instance9 { left: 960px; top: 30px; min-width: 234px; width: 234px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance10 { left: 0px; top: 30px; min-width: 113px; width: 113px; min-height: 24px; height: 24px; display: block; }
	/*Serhii:(11,15)*/#wb_element_instance11 { left: 460px; top: 580px; min-width: 120px; width: 120px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance11 img { width: 120px; height: 120px; position: static; left: 0px; top: 0px; }
	/*Serhii top:610*/#wb_element_instance12 { left: 460px; top: 40px; min-width: 103px; width: 103px; min-height: 39px; height: 39px; display: block; }
	/*Serhii: изменяем размер высоты боди, чтобы не прокручивался дальше сайт для wb_element_instance13*/
	#wb_element_instance13 { left: 0px; top: 0px; min-width: 760px; width: 760px; min-height: 740px; height: 740px; display: block; }
	#wb_element_instance13 > div { width: 760px; height: 740px; }	
	/*Serhii top:940, +235*/#wb_element_instance14 { left: 620px; top: 340px; min-width: 530px; width: 530px; min-height: 139px; height: 139px; display: block; }
	/*Serhii:(11,15)*/#wb_element_instance15 { left: 620px; top: 580px; min-width: 550px; width: 550px; min-height: 139px; height: 139px; display: block; }
}
